<div class="panel panel-primary" *ngIf="student">
    <div class="panel-heading">
        <h3 class="panel-title">{{student.fName}}</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row vertical-align">
                <div class="col-xs-4">
                <img class="imageProfile" [src]="student.picturePath" />
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-6">
                            Full Name
                        </div>
                        <div class="col-xs-6">
                            : {{student.fName}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Email Address
                        </div>
                        <div class="col-xs-6">
                            : {{student.sEmail}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            School Name
                        </div>
                        <div class="col-xs-6" [ngSwitch]="student.school">
                            : {{student.school}}
                            <span *ngIf="student.school=='UBC'">University of British Columbia</span>
                            <span *ngIf="student.school=='BCIT'">BCIT</span>
                            <span *ngIf="student.school=='SFU'">Simon Fraser University</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Active Status
                        </div>
                        <div class="col-xs-4">
                            : {{student.isActive}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            Date of Birth
                        </div>
                        <div class="col-xs-4">
                            : {{student.dob}}
                        </div>
                    </div>

                </div>
             
            </div>
        </div>
    </div>
    <div class="panel-footer">
       <!-- [routerLink passes parameters as array of objects -->                  
        <a class="btn btn-primary" [routerLink]='["students/list",{sId:student.sId}]'
                                    queryParamsHandling="preserve" >
        List
        </a>                       
         <button name="next" class="btn btn-primary pull-right" (click)="goNext()">Next</button>
    </div>
  </div>
