<!--

<div class="panel panel-primary" (click)="handleClick()">


-->
<!-- Add the class.panel-success if condition is true-->
<student-accordion [title]="student.last_name" [hasJustViewed]="activeStudentId===student.id"
   [isHidden]="true">
    <div class="col-xs-10 prjStudentBody">
        <div class="row vertical-align">
            <div class="col-xs-4">
            <img class="imageProfile" [src]="student.picturePath" />
            </div>
            <div class="col-xs-8">
                <div class="row">
                    <div class="col-xs-6">
                        Full Name
                    </div>
                    <div class="col-xs-6">
                        : {{student.last_name}},  {{student.first_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Email Address
                    </div>
                    <div class="col-xs-6">
                        : {{student.email}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        School Name
                    </div>
                    <!-- ngSwitch works only with numbers -->
                    <div class="col-xs-6" >
                        : {{student.school}}
                </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Active Status
                    </div>
                    <div class="col-xs-6">
                        : {{student.isActive}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        Date of Birth
                    </div>
                    <div class="col-xs-6">
                        : {{student.dob}}
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="prjStudentFooter">
    <button class="btn btn-primary" (click)="viewStudent()">View</button>
    <button class="btn btn-primary" (click)="editStudent()">Edit</button>
    <span *ngIf="confirmDelete">
        <span>Are you sure you want to delete student?</span>
        <button class="btn btn-danger" (click)="deleteStudent()">Yes</button>
        <button class="btn btn-primary" (click)="confirmDelete=false">No</button>
    </span>
    <button *ngIf="!confirmDelete" class="btn btn-danger" (click)="confirmDelete=true">Delete</button>
  </div>
</student-accordion>
