<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <fieldset>
    <div class="form-group">
        <legend>Login</legend>
        <div class="form-field">
        <label for="username">Username:</label>
        <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && fcontrols.username.errors }" />
        <div *ngIf="submitted && fcontrols.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
        </div>
    </div>
        <div class="form-field">
            <label for="password">Password:</label>
            <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && fcontrols.password.errors }" />
            <div *ngIf="submitted && fcontrols.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
    </fieldset>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Login</button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>