<div class="card card-primary" [class.panel-success] = "hasJustViewed" >
    <div class="card-header pointerCursor" (click)="isHidden=!isHidden;">
        <h3 class="card-title">{{title | uppercase}}</h3>
    </div>
    <!-- use [hidden] is more efficient to show/hide a division  rather than *ngIf which is good for less frequent toggelingora-->
    <div class="card-block" [hidden]="isHidden">
        <ng-content select=".prjStudentBody"></ng-content>
    </div>
    <div class="card-footer"  [hidden]="isHidden">
        <ng-content select=".prjStudentFooter"></ng-content>
    </div> 
</div>
