<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a class="nav-item nav-link" routerLink="/">Home    </a>
            </li>
            <li>
                <a routerLink="list">List</a>
            </li>
            <li>
                <a routerLink="edit/0">Create</a>
            </li>
            <li>
                <a routerLink="test">Testing</a>
            </li>           
            <li>
                <a *ngIf="!currentUser" routerLink="login">Login</a>
            </li>
            <li>
                <a  *ngIf="currentUser" (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- Sample 1 using simple HTML5 animation
    <div *ngIf="showLoadingIndicator" class="spinner"></div>
    -->

    <!-- Sample 2 using Pure ccs Loader from https://loading.io/css-->
    <div class="lds-roller" *ngIf="showLoadingIndicator"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    <router-outlet></router-outlet>
</div>