<!-- <div  *ngFor="let student of studentsList" >
    <app-display-student [student]="student"></app-display-student>
</div>

<h2>{{dataFromChild?.fName}}</h2> 


<button (click)="nextStudent()" class="btn btn-primary">View next student</button>

<app-display-student [student]="std" (notify)="handleNotify($event)" ></app-display-student>
 <div (click)="h1RefVar.innerHTML = childComponent.student.fName + ' ' + childComponent.student.gender">
    
    
    
    <div (click)="h1RefVar.innerHTML = childComponent.getStudentNameAndGender()">
        <app-display-student [student]="std" #childComponent></app-display-student>
    </div>
<h1 #h1RefVar>

</h1>
-->
<div class="form-group">
    <input type="text" class="form-control" placeholder="Seach By Name" style="width:300px"
      [(ngModel)]="searchTerm" />
   </div>
   <div class="form-group">
    <button type="button" class="btn btn-primary" (click)="changeStudentName()"  >Change Name</button>
   </div>
      
<div *ngFor="let std of filteredStudents " >
    <div (click)="onClick(std.sId)" class="pointerCursor">
        <app-display-student [student]="std" ></app-display-student>
    </div>
</div>
